#column{
    -fx-font-size: 18px;
}

#table{
    -fx-border-width: 4px;
    -fx-border-color: black;
}

#searchField{
    -fx-font-size: 18px;
}

#searchBtn{
    -fx-background-color: darkorange;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#searchBtn:hover{
    -fx-background-color: #e57e00;
}

#label{
    -fx-font-size: 18px;
    -fx-font-weight: 900;
}